.reveal {
  font-size: 28px;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  text-transform: none;
}

.reveal .center-cells table th,
.reveal .center-cells table td {
  text-align: center;
}

.reveal section img {
  border: none;
}

.reveal blockquote {
  background: #2D2D2D;
  color: white;
  font-style: italic;
  border-radius: 8px;
  padding: 10px;
}

.reveal .line-nohl {
  opacity: 0.25;
}

.reveal .details {
  font-style: italic;
}

.reveal .refs {
  font-size: 0.5em;
}